<ion-view view-title="User Registration">
    <ion-content ng-class="{expanded:isExpanded}" style="background: url(img/bg-106.jpg) center; background-size: cover; align:center; vertical-align: middle;">
	<div  class="im-wrapper padding">
		<h1 class="appname padding-left">Life <small class="yellow-text">Guard</small></h1>
		<h3 class="padding-left pretty-thai-text light-text shadow-text">ลืมระหัสผ่าน</h3>
		<form  name="myForm" class="list" novalidate>
			<div ><div class="padding">
			<h3 class=" pretty-thai-text light-text"><i class="icon ion-android-person"></i> ผู้ใช้งาน</h3>
				<label class="item item-input item-icon-left item-floating-label pretty-thai-text" style="background: rgba(255, 255, 255, 0.8);">
                   <i class="icon ion-android-person placeholder-icon"></i><input type="text"  class="dark-text pretty-thai-text center-text" ng-required="true"  placeholder="Username" ng-model="formData.username">
				</label>
				<label class="item item-input item-icon-left item-floating-label pretty-thai-text" style="background: rgba(255, 255, 255, 0.8);">
                    <i class="icon ion-key placeholder-icon"></i><input type="email"  class="dark-text pretty-thai-text center-text" ng-required="true" placeholder="Email"  ng-model="formData.email">
				</label>
				<BR/>
			</div></div>
			 <div class="padding">
				<p class="pretty-thai-text light-text" ng-show="myForm.$error.required">*  โปรดกรอกข้อมูลให้ครบ</p>
				<p class="pretty-thai-text light-text" ng-show="myForm.$error.email">* โปรดกรอกอีเมล์ที่ถูกต้อง</p>
			</div>
			 
			<button class=" button login-button pretty-thai-text button-full button-energized ink" ng-disabled="myForm.$invalid" ng-click="submit()" >
					ตั้งรหัสใหม่
                </button>
			<button class=" button login-button pretty-thai-text button-full button-light ink"  ui-sref="app.login" >
					ยกเลิก
                </button>
			</div>
		</form>
        </div>
    </ion-content>
</ion-view>
